semogaberkah_ezbooking/semogaberkah_server/xml-resources/web-service-references/MenuWS/wsdl/localhost_8080/EzBookingWebService/MenuWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://projectdistprog.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://projectdistprog.ubaya.com/" name="MenuWS">
<types>
<xsd:schema>
<xsd:import namespace="http://projectdistprog.ubaya.com/" schemaLocation="http://localhost:8080/EzBookingWebService/MenuWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="TambahMenu">
<part name="parameters" element="tns:TambahMenu"/>
</message>
<message name="TambahMenuResponse">
<part name="parameters" element="tns:TambahMenuResponse"/>
</message>
<message name="DisplayMenuRestoran">
<part name="parameters" element="tns:DisplayMenuRestoran"/>
</message>
<message name="DisplayMenuRestoranResponse">
<part name="parameters" element="tns:DisplayMenuRestoranResponse"/>
</message>
<portType name="MenuWS">
<operation name="hello">
<input wsam:Action="http://projectdistprog.ubaya.com/MenuWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://projectdistprog.ubaya.com/MenuWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="TambahMenu">
<input wsam:Action="http://projectdistprog.ubaya.com/MenuWS/TambahMenuRequest" message="tns:TambahMenu"/>
<output wsam:Action="http://projectdistprog.ubaya.com/MenuWS/TambahMenuResponse" message="tns:TambahMenuResponse"/>
</operation>
<operation name="DisplayMenuRestoran">
<input wsam:Action="http://projectdistprog.ubaya.com/MenuWS/DisplayMenuRestoranRequest" message="tns:DisplayMenuRestoran"/>
<output wsam:Action="http://projectdistprog.ubaya.com/MenuWS/DisplayMenuRestoranResponse" message="tns:DisplayMenuRestoranResponse"/>
</operation>
</portType>
<binding name="MenuWSPortBinding" type="tns:MenuWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TambahMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DisplayMenuRestoran">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MenuWS">
<port name="MenuWSPort" binding="tns:MenuWSPortBinding">
<soap:address location="http://localhost:8080/EzBookingWebService/MenuWS"/>
</port>
</service>
</definitions>