semogaberkah_ezbooking/semogaberkah_client/src/META-INF/wsdl/localhost_8080/EzBookingWebService/BookingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://projectdistprog.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://projectdistprog.ubaya.com/" name="BookingWS">
<types>
<xsd:schema>
<xsd:import namespace="http://projectdistprog.ubaya.com/" schemaLocation="http://localhost:8080/EzBookingWebService/BookingWS?xsd=1"/>
</xsd:schema>
</types>
<message name="UpdateKeteranganPreOrder">
<part name="parameters" element="tns:UpdateKeteranganPreOrder"/>
</message>
<message name="UpdateKeteranganPreOrderResponse">
<part name="parameters" element="tns:UpdateKeteranganPreOrderResponse"/>
</message>
<message name="DisplayBookingRestaurant">
<part name="parameters" element="tns:DisplayBookingRestaurant"/>
</message>
<message name="DisplayBookingRestaurantResponse">
<part name="parameters" element="tns:DisplayBookingRestaurantResponse"/>
</message>
<message name="JumlahMejaBerdasarkanTanggal">
<part name="parameters" element="tns:JumlahMejaBerdasarkanTanggal"/>
</message>
<message name="JumlahMejaBerdasarkanTanggalResponse">
<part name="parameters" element="tns:JumlahMejaBerdasarkanTanggalResponse"/>
</message>
<message name="DisplayBookingCari">
<part name="parameters" element="tns:DisplayBookingCari"/>
</message>
<message name="DisplayBookingCariResponse">
<part name="parameters" element="tns:DisplayBookingCariResponse"/>
</message>
<message name="UpdateKeteranganBooking">
<part name="parameters" element="tns:UpdateKeteranganBooking"/>
</message>
<message name="UpdateKeteranganBookingResponse">
<part name="parameters" element="tns:UpdateKeteranganBookingResponse"/>
</message>
<message name="DisplayCountTanggalBooking">
<part name="parameters" element="tns:DisplayCountTanggalBooking"/>
</message>
<message name="DisplayCountTanggalBookingResponse">
<part name="parameters" element="tns:DisplayCountTanggalBookingResponse"/>
</message>
<message name="TambahBookingPreOrder">
<part name="parameters" element="tns:TambahBookingPreOrder"/>
</message>
<message name="TambahBookingPreOrderResponse">
<part name="parameters" element="tns:TambahBookingPreOrderResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="DisplayBookingMenu">
<part name="parameters" element="tns:DisplayBookingMenu"/>
</message>
<message name="DisplayBookingMenuResponse">
<part name="parameters" element="tns:DisplayBookingMenuResponse"/>
</message>
<message name="Display">
<part name="parameters" element="tns:Display"/>
</message>
<message name="DisplayResponse">
<part name="parameters" element="tns:DisplayResponse"/>
</message>
<message name="CheckBook">
<part name="parameters" element="tns:CheckBook"/>
</message>
<message name="CheckBookResponse">
<part name="parameters" element="tns:CheckBookResponse"/>
</message>
<message name="DisplayBook">
<part name="parameters" element="tns:DisplayBook"/>
</message>
<message name="DisplayBookResponse">
<part name="parameters" element="tns:DisplayBookResponse"/>
</message>
<message name="TambahBooking">
<part name="parameters" element="tns:TambahBooking"/>
</message>
<message name="TambahBookingResponse">
<part name="parameters" element="tns:TambahBookingResponse"/>
</message>
<message name="DisplaySelesai">
<part name="parameters" element="tns:DisplaySelesai"/>
</message>
<message name="DisplaySelesaiResponse">
<part name="parameters" element="tns:DisplaySelesaiResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="DisplayCountBookingByCustomer">
<part name="parameters" element="tns:DisplayCountBookingByCustomer"/>
</message>
<message name="DisplayCountBookingByCustomerResponse">
<part name="parameters" element="tns:DisplayCountBookingByCustomerResponse"/>
</message>
<message name="DisplayCountBookingByRestoran">
<part name="parameters" element="tns:DisplayCountBookingByRestoran"/>
</message>
<message name="DisplayCountBookingByRestoranResponse">
<part name="parameters" element="tns:DisplayCountBookingByRestoranResponse"/>
</message>
<portType name="BookingWS">
<operation name="UpdateKeteranganPreOrder">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/UpdateKeteranganPreOrderRequest" message="tns:UpdateKeteranganPreOrder"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/UpdateKeteranganPreOrderResponse" message="tns:UpdateKeteranganPreOrderResponse"/>
</operation>
<operation name="DisplayBookingRestaurant">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayBookingRestaurantRequest" message="tns:DisplayBookingRestaurant"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayBookingRestaurantResponse" message="tns:DisplayBookingRestaurantResponse"/>
</operation>
<operation name="JumlahMejaBerdasarkanTanggal">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/JumlahMejaBerdasarkanTanggalRequest" message="tns:JumlahMejaBerdasarkanTanggal"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/JumlahMejaBerdasarkanTanggalResponse" message="tns:JumlahMejaBerdasarkanTanggalResponse"/>
</operation>
<operation name="DisplayBookingCari">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayBookingCariRequest" message="tns:DisplayBookingCari"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayBookingCariResponse" message="tns:DisplayBookingCariResponse"/>
</operation>
<operation name="UpdateKeteranganBooking">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/UpdateKeteranganBookingRequest" message="tns:UpdateKeteranganBooking"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/UpdateKeteranganBookingResponse" message="tns:UpdateKeteranganBookingResponse"/>
</operation>
<operation name="DisplayCountTanggalBooking">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayCountTanggalBookingRequest" message="tns:DisplayCountTanggalBooking"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayCountTanggalBookingResponse" message="tns:DisplayCountTanggalBookingResponse"/>
</operation>
<operation name="TambahBookingPreOrder">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/TambahBookingPreOrderRequest" message="tns:TambahBookingPreOrder"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/TambahBookingPreOrderResponse" message="tns:TambahBookingPreOrderResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://projectdistprog.ubaya.com/BookingWS/TambahBookingPreOrder/Fault/ParseException"/>
</operation>
<operation name="DisplayBookingMenu">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayBookingMenuRequest" message="tns:DisplayBookingMenu"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayBookingMenuResponse" message="tns:DisplayBookingMenuResponse"/>
</operation>
<operation name="Display">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayRequest" message="tns:Display"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayResponse" message="tns:DisplayResponse"/>
</operation>
<operation name="CheckBook">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/CheckBookRequest" message="tns:CheckBook"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/CheckBookResponse" message="tns:CheckBookResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://projectdistprog.ubaya.com/BookingWS/CheckBook/Fault/ParseException"/>
</operation>
<operation name="DisplayBook">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayBookRequest" message="tns:DisplayBook"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayBookResponse" message="tns:DisplayBookResponse"/>
</operation>
<operation name="TambahBooking">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/TambahBookingRequest" message="tns:TambahBooking"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/TambahBookingResponse" message="tns:TambahBookingResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://projectdistprog.ubaya.com/BookingWS/TambahBooking/Fault/ParseException"/>
</operation>
<operation name="DisplaySelesai">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplaySelesaiRequest" message="tns:DisplaySelesai"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplaySelesaiResponse" message="tns:DisplaySelesaiResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="DisplayCountBookingByCustomer">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayCountBookingByCustomerRequest" message="tns:DisplayCountBookingByCustomer"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayCountBookingByCustomerResponse" message="tns:DisplayCountBookingByCustomerResponse"/>
</operation>
<operation name="DisplayCountBookingByRestoran">
<input wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayCountBookingByRestoranRequest" message="tns:DisplayCountBookingByRestoran"/>
<output wsam:Action="http://projectdistprog.ubaya.com/BookingWS/DisplayCountBookingByRestoranResponse" message="tns:DisplayCountBookingByRestoranResponse"/>
</operation>
</portType>
<binding name="BookingWSPortBinding" type="tns:BookingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="UpdateKeteranganPreOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DisplayBookingRestaurant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="JumlahMejaBerdasarkanTanggal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DisplayBookingCari">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateKeteranganBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DisplayCountTanggalBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TambahBookingPreOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="DisplayBookingMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Display">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="DisplayBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TambahBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="DisplaySelesai">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DisplayCountBookingByCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DisplayCountBookingByRestoran">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BookingWS">
<port name="BookingWSPort" binding="tns:BookingWSPortBinding">
<soap:address location="http://localhost:8080/EzBookingWebService/BookingWS"/>
</port>
</service>
</definitions>