semogaberkah_ezbooking/semogaberkah_server/src/META-INF/wsdl/localhost_8080/EzBookingWebService/CustomerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://projectdistprog.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://projectdistprog.ubaya.com/" name="CustomerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://projectdistprog.ubaya.com/" schemaLocation="http://localhost:8080/EzBookingWebService/CustomerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="CheckLoginCustomer">
<part name="parameters" element="tns:CheckLoginCustomer"/>
</message>
<message name="CheckLoginCustomerResponse">
<part name="parameters" element="tns:CheckLoginCustomerResponse"/>
</message>
<message name="CheckRegisterCustomer">
<part name="parameters" element="tns:CheckRegisterCustomer"/>
</message>
<message name="CheckRegisterCustomerResponse">
<part name="parameters" element="tns:CheckRegisterCustomerResponse"/>
</message>
<message name="AmbilDataCustomer">
<part name="parameters" element="tns:AmbilDataCustomer"/>
</message>
<message name="AmbilDataCustomerResponse">
<part name="parameters" element="tns:AmbilDataCustomerResponse"/>
</message>
<message name="Display">
<part name="parameters" element="tns:Display"/>
</message>
<message name="DisplayResponse">
<part name="parameters" element="tns:DisplayResponse"/>
</message>
<message name="DisplayCusCari">
<part name="parameters" element="tns:DisplayCusCari"/>
</message>
<message name="DisplayCusCariResponse">
<part name="parameters" element="tns:DisplayCusCariResponse"/>
</message>
<portType name="CustomerWS">
<operation name="hello">
<input wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="CheckLoginCustomer">
<input wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/CheckLoginCustomerRequest" message="tns:CheckLoginCustomer"/>
<output wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/CheckLoginCustomerResponse" message="tns:CheckLoginCustomerResponse"/>
</operation>
<operation name="CheckRegisterCustomer">
<input wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/CheckRegisterCustomerRequest" message="tns:CheckRegisterCustomer"/>
<output wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/CheckRegisterCustomerResponse" message="tns:CheckRegisterCustomerResponse"/>
</operation>
<operation name="AmbilDataCustomer">
<input wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/AmbilDataCustomerRequest" message="tns:AmbilDataCustomer"/>
<output wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/AmbilDataCustomerResponse" message="tns:AmbilDataCustomerResponse"/>
</operation>
<operation name="Display">
<input wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/DisplayRequest" message="tns:Display"/>
<output wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/DisplayResponse" message="tns:DisplayResponse"/>
</operation>
<operation name="DisplayCusCari">
<input wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/DisplayCusCariRequest" message="tns:DisplayCusCari"/>
<output wsam:Action="http://projectdistprog.ubaya.com/CustomerWS/DisplayCusCariResponse" message="tns:DisplayCusCariResponse"/>
</operation>
</portType>
<binding name="CustomerWSPortBinding" type="tns:CustomerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckLoginCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckRegisterCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AmbilDataCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Display">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DisplayCusCari">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWS">
<port name="CustomerWSPort" binding="tns:CustomerWSPortBinding">
<soap:address location="http://localhost:8080/EzBookingWebService/CustomerWS"/>
</port>
</service>
</definitions>